body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #4Caa;
    font-size: 22px;
    margin: 20px auto;
    max-width: 500px;
    height : 320px;
    border: 20px solid rgb(26, 11, 11);
    border-radius : 12%;
    
}
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color:rgb(41, 31, 20);
    margin: 20px;
    
    
}

#homescore, #guestscore {
    background: #0a0001;
    font-size: 90px;
    color: #c81334;
    margin: 30px;
    width: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

button {
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: rgb(27, 14, 7);
    
    
}